<div class="note">
  <span class="delete_note">
    <%= link_to 'X', [note.item, note],
    method: :delete,
    data: {confirm: 'Delete this note? (This action cannot be undone.)'}%>
  </span>

  <span class="body_note">
    <%= note.body %>
  </span>

  <span class="update_note">
    Updated <%= time_ago_in_words(note.created_at) %>
  </span>

</div>
