<section class="new">
  <%= render 'new' %>
</section>

<section class="show">
  <div class="specs">
    <h2>Outfits</h2>
    <% @outfits.each do |outfit| %>
      <p><%= link_to outfit.name, outfit %></p>
    <% end %>
  </div>
</section>
