<section class="indexshow">
  <%= render 'items' %>
</section>

<section class="edit">
<div class="edit">
  <%= render 'form' %>
  <p><%= link_to 'Go back', item_path(@item) %></p>
</div>

</section>
