<section class="index indexshow">
<%= render 'index' %>
</section>
<section class="show">

<div class="image">
<%= image_tag(@item.photo_url) %>
</div>
<div class="specs">
<%= @item.description %>
</div>
<div class="comments">
</div>
</section>
