body{
  font-family: 'Poiret One', sans-serif;
  font-weight: lighter;
  margin-top: 14vh;
  margin-left:0;
}
nav a, nav a:visited, nav a:hover{
  text-decoration: none;
  color:white;
}
header{
  font-family: 'Cinzel', serif;
  font-weight: normal;
  font-size: 7.5vh;
  line-height:7.5vh;
  letter-spacing: 2.5vw;
  padding-top: 0;
  padding-left:2vw;
  background-color: white;
  color:black;
  width:100vw;
  position:fixed;
  top:0;
  left:0;
}
header span{
  font-size: 5.5vh;
}
nav{
  font-family: dosis, sans-serif;
  font-size: 3vh;
  letter-spacing: 0.5vw;
  line-height: 5vh;
  padding-left: 5vw;
  background-color: black;
  color:white;
  width:100vw;
  height:5vh;
  position:fixed;
  top:7.5vh;
  left:0;
  border-top: 3px double white;
  border-bottom: 3px double white;
}
li.nav{
  margin-right: 6vw;
  display:inline;
}
section.index{
  width:100vw;
  margin-top:0;
  padding:0;
  top:0;
  left:0;
  bottom:0;
  overflow: scroll;
  display:inline-flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
section.index img, section.indexshow a{
  height:30vh;
  margin:0;
  padding:0;
  align-content:space-around;
  }
section.indexshow{
  width:99.9vw;
  height: 30vh;
  margin:0;
  padding:0;
  top:0;
  left:0;
  overflow: scroll;
  display:flex;
  box-sizing: border-box;
}

section.indexshow img, section.indexshow a{
  height:inherit;
  margin:0;
}
section.indexshow img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity:0.3;
}
section.indexshow img.thisitem{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
  /*border-left: 3px solid black;
  border-top: 3px solid black;*/
}
section.indexshow img:hover{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.7;
}
section.indexshow img.thisitem:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}
section.show{
  width:100vw;
  height:53vh;
  top:0;
  padding: 1vw;
  display:flex;
  box-sizing: border-box;
  font-size: 3.3vh;
  line-height: 4.5vh;
  letter-spacing: 1px;
  overflow: scroll;
}
section.edit{
  width:100vw;
  height:53vh;
  top:0;
  padding-left: 1vw;
  display:flex;
  box-sizing: border-box;
  font-size: 2vh;
  line-height: 3vh;
  letter-spacing: 1px;
  overflow: scroll;
  position:relative;
}
section.new, h2.new{
  padding-left: 2vw;
}
div.image{
  width:20%;
  height: inherit;
  top:0;
  left:0px;
  position:relative;
}
/*div.image img {
  max-width: 90%;
  max-height:90%;
  padding: 5%;
}*/
div.specs, div.edit{
  width:45%;
  height: inherit;
  position: relative;
}
div.specs a, div.specs a:visited, div.specs a:hover{
  font-size: 2.5vh;
  color:black;
  font-weight: bold;
  text-decoration: underline;
  margin: 1vw;
}
div.notes{
  width:45%;
  height: inherit;
  position: relative;
}
span.tag a:hover{
  color:;
}
span.tag a, span.tag a:visited{
  background-color: black;
  font-size: 2.5vh;
  color:white;
  font-weight: bold;
  text-decoration: none;
  padding:0.5vw;
  letter-spacing: 0px;
  margin:0;
}
li.specs, li.notes{
  list-style: none;
}
div.note{
  background-color: black;
  color:white;
  font-size: 2vh;
  padding: 1vw;
  margin: 1vw;
  width:60%;
}
span.delete_note a, span.delete_note a:visited{
  font-family: arial, sans-serif;
  text-align: right;
  text-decoration: none;
  color:white;
  display:block;
  font-size: 2vh;
  line-height: 2vh;
}
span.delete_note a:hover{
  font-size: 1vh;
}
a.showtag:hover{
  font-size: 3.5vh;
 }
a.deletetag:hover{
  font-size: 2vh;
}
span.notebody{
  margin-left: 2vw;
  font-size: 2.5vh;
}
span.note{
  font-style: italic;
  font-size: 1.5vh;
  display:block;
}
