body{
  font-family: helvetica, sans-serif;
  font-weight: lighter;
  margin-top: 13vh;
}
header{
  font-size: 7.5vh;
  letter-spacing: 2vw;
  padding-left:2vw;
  background-color: black;
  color:white;
  width:100vw;
  height:7.5vh;
  position:fixed;
  top:0;
  left:0;
}
nav{
  font-size: 3vh;
  letter-spacing: 0.5vw;
  padding-left: 1vw;
  background-color: black;
  color:white;
  width:100vw;
  height:3vh;
  position:fixed;
  top:8.5vh;
  left:0;
}
li.nav{
  margin-right: 6vw;
  display:inline;
}
section.index{
  width:100vw;
  height: 35vh;
  margin:0;
  top:0;
  left:0;
}
img{
  height:inherit;
  margin:0;

}
