<!DOCTYPE html>
<html>
<head>
  <title>Aeterna</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  aeterna
  </header>
<nav>
<li class="nav link">about</li>
<li class="nav link">closet</li>
<li class="nav link">wishlist</li>
<li class="nav link">archive</li>
<li class="nav link">add</li>
</nav>


<%= yield %>

</body>
</html>
